<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>H.I.P. Authentication {% block title %}{% endblock %}</title>
  <meta name="description" content="Don't talk about hitman'">
  <meta name="author" content="H.I.P. Hightech Operations">

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {% block head %}
  {% endblock %}
</head>

<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  {% block script %}{% endblock %}
  <div class="container">
      {% block content %}{% endblock %}
  </div>
    </div>
  </div>
</body>
</html>